body {
  background: rgb(233, 215, 215);
}
h1 {
  text-align: center;
  font-size: 60px;
}
img.item-image {
  width: 330px;
  height: 400px;
}
.items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  display: inline-block;
  margin: 40px;
}
h2 {
  font-size: 34px;
  margin-bottom: 0;
  margin-top: 100px;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
}
.price {
  font-size: 20px;
  text-align: center;
  display: block;
}
.add-buttons {
  margin: 10px auto;
  display: block;
  padding: 20px;
  font-size: 15px;
  background: rgb(192, 92, 192);
  border: 1px solid rgb(192, 92, 192);
  border-radius: 10px;
  color: white;
}
button:hover {
  cursor: pointer;
}
.remove-buttons {
  padding: 10px;
  background: rgb(192, 92, 192);
  border: 1px solid rgb(192, 92, 192);
  border-radius: 10px;
  margin-left: 70px;
  color: white;
}

.cart {
  background: rgb(255, 255, 255);
  margin: 150px auto;
  border-radius: 40px;
  width: 50%;
  display: block;
  padding: 20px;
}
#cart-title {
  color: rgb(104, 103, 103);
  margin-top: 10px;
  margin-bottom: 20px;
}
.cart-item-title {
  margin-left: 10px;
}
.row {
  display: flex;
}
.column {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.cart-item {
  width: 40%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.border {
  border-top: 1px solid rgb(167, 128, 167);
  border-bottom: 1px solid rgb(167, 128, 167);
}
.cart-price {
  width: 20%;
}
.cart-quantity-input {
  width: 12%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(167, 128, 167);
}
.cart-total {
  justify-content: end;
  display: flex;
  font-size: 22px;
  margin-top: 20px;
}
strong {
  margin-right: 5px;
}
